.product-page {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;

  .product-images {
    flex: 1;
    max-width: 47rem;
    height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;

    .main-image {
      width: 100%;
      height: auto;
      object-fit: cover;
      border: 1px solid #ddd;
      border-radius: 1rem;
      transition: transform 0.3s ease-in-out;
    }

    .thumbnail-images {
      display: flex;
      gap: 0.75rem;
      margin-top: 1rem;
      justify-content: center;

      img {
        width: 2rem;
        height: 5rem;
        object-fit: cover;
        border: 1px solid #ddd;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: transform 0.3s ease, border-color 0.3s ease;
      }

      img:hover {
        transform: scale(1.1);
        border-color: #196619;
      }
    }
  }

  .product-info {
    flex: 1;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
      font-size: 1.6rem;
    }
    h1 {
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 1rem;
      color: #333;
    }

    .price {
      font-size: 1.65rem;
      margin-bottom: 1.5rem;

      .original-price {
        font-size: 1.35rem;
        text-decoration: line-through;
        color: #888;
        margin-right: 0.6rem;
      }

      .discounted-price {
        color: #d32f2f;
        font-weight: bold;
      }
    }

    .color {
      font-size: 1.6rem;
      color: #333;
    }

    .color-image {
      width: 9rem;
      height: 9rem;
      margin-left: 5px;
      border-radius: 50%;
      cursor: pointer;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .color-image:hover {
      transform: scale(1.05);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    }

    .size-select {
      margin-bottom: 2rem;

      label {
        font-size: 1.6rem;
        color: #333;
        margin-bottom: 0.5rem;
        display: block;
      }

      select {
        padding: 0.75rem;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        font-size: 1.6rem;
        width: 20rem;
        transition: border-color 0.3s ease;
      }

      select:hover {
        border-color: #196619;
      }
    }

    .add-to-cart {
      background-color: #228b22;
      color: white;
      padding: 1rem 2rem;
      border: none;
      border-radius: 0.5rem;
      font-size: 1.75rem;
      cursor: pointer;
      transition: background-color 0.3s, transform 0.2s ease-in-out;
      width: 30rem;
      margin-bottom: 1.5rem;
    }

    .add-to-cart:hover {
      background-color: #196619;
      transform: translateY(-2px);
    }

    .free-shipping {
      margin-top: 1rem;
      color: #666;
      font-size: 1.4rem;
    }
  }
}

// Responsiveness for smaller screens
@media (max-width: 768px) {
  .product-page {
    flex-direction: column;
    padding: 2rem;

    .product-images {
      flex: 1;
      max-width: 47rem;
      margin-bottom: 6rem;
    }
  }

  .product-info {
    flex: none;
    max-width: 100%;
  }

  .thumbnail-images {
    gap: 1rem;
  }

  .size-select {
    margin-bottom: 1rem;
  }
}
