.rings-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  .rings {
    overflow: hidden;
    width: 80%;
    height: 60rem;
    justify-content: center;
    align-items: center;
    .shop-now-container {
      position: relative;
      width: 80%;
      margin: 0 auto;
      max-width: 600px;
      &:hover {
        transform: scale(1.05);
      }
      .shop-now-image {
        width: 100%;
        height: auto;
        border-radius: 15px;
        transition: transform 0.3s ease;
        &:hover {
          transform: scale(1.05);
        }
      }
      .shop-now-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
        font-family: "Playfair Display", serif;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
        h3 {
          font-size: 1.8rem;
          margin-bottom: 10px;
        }
      }
    }

    .carousel-item {
      transition: left 0.5s ease-in-out;
      width: 100%;
      z-index: 1;
      opacity: 0;
    }

    .carousel-item.active {
      left: 0;
      opacity: 1;
      z-index: 10;
    }

    .carousel-item.prev {
      left: -100%;
    }

    .carousel-item.next {
      left: 100%;
    }

    button.move-left,
    button.move-right {
      position: fixed;
      top: 50%;
      transform: translateY(-50%);
    }

    button.move-left {
      left: 10px;
    }

    button.move-right {
      right: 10px;
    }
  }
  button.move-left,
  button.move-right {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    padding: 0.5rem;
    cursor: pointer;
  }
}
